/Alumnos/nbproject/private/
/Alumnos/build/
/Interfaces/nbproject/private/
/Interfaces/build/
/Tema 3/SoquetTCP/nbproject/private/
/Tema 3/SoquetTCP/build/
/Tema 3/Fibonaci/nbproject/private/
/Tema 3/Fibonaci/build/
/Tema 3/JuegoArtirmetico/nbproject/private/
/Tema 3/SoquetsUDP/build/
/Tema 3/SoquetsUDP/nbproject/private/
/Tema 4/EjmeploRMI/nbproject/private/
/Tema 4/EjmeploRMI/build/
/Tema 4/OperacionesBasicas/nbproject/private/
/Tema 4/OperacionesBasicas/build/
/Tema 4/RMIAlumno/nbproject/private/
/Tema 4/Singleton/nbproject/private/
/Tema 4/Singleton/build/
/Tema 4/lab1/nbproject/private/
/Tema 4/lab1/build/
/Laboratorio3/Lab3/nbproject/private/
/Parcial1/JavaApplication61/nbproject/private/
/Parcial1/JavaApplication61/build/
/Parcial1/JavaApplication61/dist/
/tema7/soap/ConsumirOperecionesJava/nbproject/private/
/tema7/soap/ConsumirOperecionesJava/build/
/tema7/soap/OperacionesJava/nbproject/private/
/tema7/soap/OperacionesJava/build/
/tema7/soap/OperacionesJava/dist/
/tema7/soap/WebApplication1/nbproject/private/
/tema7/soap/WebApplication1/build/
/tema7/soap/WebApplication1/dist/
/tema7/impuestos/FacturadorJava/nbproject/private/
/tema7/impuestos/FacturadorJava/build/
